.header{
min-height:100vh;
  width: 100%;
  background:#F9F9F9;
  background-image: url(C:\Users\91986\Documents\Personal site\style.css\bgimage.png);
  font-family:'Poppins', sans-serif;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style-type: none;
  display: inline-block;
  padding:8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #719FB0;
  text-decoration: none;
}
.nav-links ul li a:hover{
  color: grey;
  text-decoration: underline;
}
.intro{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 30px;
  padding-bottom: 300px;
}
.intro h1{
  padding-left: 250px;
  padding-top: 150px;

}
.intro h2{
  padding-left: 100px;
}
.intro span{
  color: #368B85;
}
.girl{
  position: relative;
  bottom: 50px;
}

#about img{
  height: 250px;
  width:250px;
  padding-left: 250px;
  padding-right: 80px;
  padding-top: 200px;
  padding-bottom: 400px;
}
#about h3{
  position: relative;
  bottom:130px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
#about span{
  color:#368B85;
}
#about h4{
  position: relative;
  bottom:140px;
  color: #368B85;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
}
#about p{
  position: relative;
  bottom: 145px;
  font-family:'Poppins', sans-serif;
  font-size: 20px;
}
#skills h3{
  font-family:'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom: 200px;
}
#skills span{
  color:#368B85;
}
#skills img{
height: 70px;
width: 70px;
}

#skills td{
  padding-right: 80px;
}
#skills table{
  padding-left:180px;
  padding-right: 80px;
  padding-bottom: 250px;
}
.row1{
  position: relative;
  bottom: 130px;
}
.row1 img {
  position: relative;
  left: 110px;
}
.row2 img{
  position: relative;
  left: 110px;
}
#skills p{
  text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#project h1
{color:#368B85;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
#project table{
  padding-left: 180px;
  padding-right: 150px;
}
#contact{
  background-color: #F9F9F9;
 color:#368B85;
  padding-top: 100px;
  padding-bottom: 100px;
}
#contact h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
